<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<body>
    <div class="sign">
        <h2>Signup</h2>
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Createpassword" name="Password">
        <input type="password" placeholder="Confirmpassword" name="Password">
        <i class="fa-regular fa-eye" id="show-pass"></i>
        <button class="input" type="button">Signup</button>
        <div class="login">
            <p>Already have an account?<a href="/login-page">Login</a></p>
        </div>
    </div>
</body>

